apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-wzjq
  namespace: e2e-demos-bvlf-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/psturc/test-images-protected@sha256:0e27606224d4adbf08396c91da5b4764218fc157017e6c024f536bc463a817e1
        name: my-nodejs
        resources: {}
status: {}
